.poppins30B{
    color:#01155A;
    font-size:30px;
    margin-bottom: 0px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}
.poppins25M{
    color:#01155A;
    font-size:25px;
    margin-bottom: 0px;
    font-weight:400;
    font-family: 'Poppins', sans-serif!important;
}
.poppins15L{
    color:#5D6186;
    font-size:15px;
    margin-bottom: 0px;
    font-weight:200;
    font-family: 'Poppins', sans-serif;
}
.Opens20R{
    color:#01155A;
    font-size:20px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}
.poppins30Black{
    color:#000;
    font-size:30px;
    margin-bottom: 0px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}
.ServicesOption{
    width:400px;
    height:300px;
    background-color: #F8F9FA;
    border-radius: 20px !important;
    margin: 5px;
    box-shadow: 0 0 5px 0 #333;
}
.TrendingServices{
    list-style-type: none;
    display: flex;
    margin:0px;
    padding:0px;
}
.ServicesScroll{
    height: 100%;
    padding: 0px;
    margin:0px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll; 
}
.ServicesScroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }



.row1bg{
    background-image: url("../../Images/drawable-xxxhdpi/AddLocationBG.png");
    width:582px;
    height:253px;
    background-size: cover;
}

.FindGarage{
    width: 217px;
      background-color: #2650d8;
      border: 2px solid #2650d8;
      border-radius: 5px;
      color: #fff;
      height: 60px;
      position: relative;
      float: right;
      
      font-size:20px;
  }
  .PinCodeInput{
    width: 595px;
    height: 60px;
    position:absolute;
    background-color:#ebebeb;
    box-shadow:0 0 4px 0;
    border:none;
    color:#999999;
    font-size: 20px;
    padding-left: 35px;
    border-radius: 5px;
  }
  .location{
      position: relative;
      top:15px;
      left:8px;
      z-index: 99;
  }
  .text1{
    color: #01155A;
    margin-top: 50px;
    font-size:46px;
    line-height:80px;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
  }
.text-2{
    color:#01155A;
    font-size:30px;
    padding-left:20px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}
.poppins15R{
    color:#5D6186;
    font-size:14px;
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif;
}
.text-3{
    color:#5D6186;
    font-size:18px;
    line-height:61px;
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif;
}

.firsth1{
    text-align:center;
}

.icon {
    width: 100%;
    text-align: center;
    height: 100px;
}
span.head1{
    color:#2650D8;
    font-size:25px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    
}
.rowbox{
    width:288px;
}
/* .flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
  } */
p.shortpara {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 300;
    margin:0px;
    color: #5D6186;
}
.iconrow.row {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #F4F8FF;
}
.row2{
    display: flex;
}
.rowBox{
    padding: 10px;
    /* background-color: #F4F8FF; */
    color:#01155A;
    width:133px;
    height:158px;
}
.ServicesBG{
    list-style-type: none;
    background-color: #F4F8FF;
    border-radius:10px;
    margin:10px;
   
}