body{
    font-family: 'Poppins', sans-serif;
}
.row1{
    
        display: flex!important;
        padding-left: 20px!important;
    padding-right: 20px!important;
        background-color: #f8f9fb!important;
    
}
.row2{
    display: flex!important;
    padding-left: 20px!important;
padding-right: 20px!important;
    background-color: #f8f9fb!important;

}
.section1 {
    margin-top: 4px!important;
}
.text-1{
    color:#01155a;
    font-size:45px;
    font-weight: 500px !important;
    font-family: 'Poppins', sans-serif;
}
.text-2{
    color:#01155a;
    font-size:18px;
    padding-left:20px;
    font-weight:bolder;
}
.text-3{
    color:grey;
    font-size:14px;
}
.row-box{
    height:200px;
    background-color:#f4f9ff;
    color:#01155b;
    width: 120px;
    border-radius: 20px;
}