.addchauffer{
    display:flex;
    justify-content: space-evenly;
}
.picklocation{
    width: 342px;
    text-decoration: none;
    height:60px;
    background-color:#F8F9FA;
    border:none;
}
.locationdot{
position: absolute;
z-index: 2;
display: block;
width: 2.375rem;
height: 3.375rem;
margin-top:10px;
line-height: 2.375rem;
text-align: center;
pointer-events: none;

}
.locationdot img{
    width:15px;
    height:15px;
}
.pickdrop img{
    width:39.71px;
    height:30.82px
}