.qrcode1 i {
    font-size: 120px;
}
.booking1 {
    font-size: 0.9rem;
    border: rgba(149, 157, 165, 0.2);
    border-radius: 40px !important;
    
}
.innercard1 {
    padding: 10px;
    display: flex;
}
.pickup {
    margin-right: 20px;
}
.downloadqr1 {
    margin-left: 5px;
}

.btnjobcard1 {
    border-radius: 20px;
    background-color: #2650d8;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
}
.cardText1 {
    display: flex;
    justify-content: center;
    color: #999999;
    margin: 20px;
}
.schedulTime1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.schedulTime1 h5 {
    color: #00155a;
}
.schedulTime1 p {
    color: #5d6186;
}
.payfooter1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #2650d8;
    color: #fff;
}
.payAmount1 {
    display: flex;
    line-height: 5px;
}
.cardSize1 {
    font-size: 30px;
    margin-right: 10px;
    margin-top: 20px;
}
.total1 {
    margin-top: 20px;
    justify-content:center;
    font-size:20px;
}
.total1 p{
    font-size:0.8rem;
}
.total1 h3{
    font-weight:bolder;
    margin-right:10px
}
.totalbtn1 {
    border-radius: 10px;
    color: #00155a !important;
    margin-top: 15px;
    background-color: #fff !important;
    border: none;
}
.caricon1 i {
    font-size: 30px;
    color: black;
    background-color: #f4f8ff;
    border-radius: 50%;
    padding: 10px 10px 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.call1 i {
    font-size: 30px;
    color: #fff;
    background-color: #53bd8c;
    border-radius: 50%;
    padding: 10px 10px 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.carDetail1 {
    display: flex;
}
.custominfo1 {
    line-height: 5px;
    font-size: 0.8rem;
}
.carDetail1 h5 {
    color: #00155a;
}
.carbodes1{
    display:flex;
}
.trackcheck ul{
    padding-left:50px
}
.carbody1 ul {
    display: flex;
    justify-content: space-between;
}
.carbodes1 ul li {
    margin-bottom: 5px;
}
.CarPickDetail {
    display: flex;
    margin-left: 50px;
}
.CarPickDetail p {
    margin-top: 10px;
    margin-left: 40px;
}
.CarPickDetail p:hover {
    color: #2650d8;
}
.thanking {
    margin-left: 90px;
    margin-bottom: 20px;
}
.thanking1{
    display:flex;
    justify-content:center;
    font-size:0.8rem;
    text-align:center;
}
.thanking1 p{
    text-align:left;
    padding:20px;
}
.btnalign{
    display:flex;
    justify-content:center;
    margin:20px;
}
.modifyreview{
    border-radius: 15px;
    background-color: #ED7D2B;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mahindrachoice {
    color: #00155a;
    font-size: bolder;
}
.sumdownload{
    color:#ED7D2B;
}
textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    color:#5D6186;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.submitfeed {
    margin-left: 70px;
    margin-top: 10px;
}
.notNowbtn {
    border-radius: 15px;
    margin-right: 40px;
    background-color: #4ee59d;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Submitbtn {
    border-radius: 15px;
    background-color: #4ee59d;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.endthank {
    margin-top: 30px;
    font-size:20px;
}
.endthank h3{
    font-weight: bolder;
}
.thankletter{
    font-weight: bolder;
    color:#fff;
    text-decoration:none;
}
.thankletter:hover{
    color:#fff;
}