@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
    font-family: "Poppins";
}
.left_items h1 {
    color: #f4f8ff !important;
    font-size: 100px !important;
    text-transform: uppercase;
}
.left_items h2 {
    position: absolute;
    width: 479px;
    font-size: 46px;
    top: 260px;
}
.backgroundhome{
    position: relative;
    height: 320.93px;
}

.bookingillus {
    position: absolute;
    background-position: no-repeat;
     top:200;
     margin-left: -600px;
    width: 700px;
    height: 320.93px;
}
.svgframe {
    overflow: hidden;
    width: 700px;
    height: 600px;
    color: whitesmoke !important;
}
.head_container {
    padding: 30px 30px 0px 30px;
}
.left_items p {
    color: #999999;
}
.left_items {
    margin-top: 100px;
    word-spacing: 10px;
    line-height: 2rem;
}
.left_items h1 {
    font-size: 60px;
}
.about {
    color: #fff;
    background-color: #0093E9;
    background-image: url('../Images/drawable-xxxhdpi/drawable-hdpi/Rectangle 8446.png');
    
    height: 300px;
}
.aboutcont {
    padding: 50px;
}
.aboutcont p{
    color: #fff;
}
.about p {
    line-height: 2.5rem;
}
.cardItem{
    display:flex;
    justify-content:space-between;
    margin:40px;
}
.cardItem p{
    color: #00155a;
    justify-content:center;
    display:flex;
    margin-top:15px;
}
.item {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    background-color: #F4F8FF;
    margin-right: 20px;
    justify-content:center;
}
.item img{
    width:83.05px;
    height:83.55px;
    margin-left:15px;
}
.item i {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
}
.icon{
    padding-top:60px
}
.icon img{
    width:140px
} 
.knownmore{
    text-decoration: none;
    color:#fff
}
.knownmore:hover{
    color:#fff;
}
.knownmore i{
    border-radius:50%;
    background-color:#fff;
    color:#2650d8;
     padding:5px;
     margin-left: 10px;

}
