@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
    font-family: "Poppins";
}
.left_items h1 {
    color: #f4f8ff !important;
    font-size: 100px !important;
    text-transform: uppercase;
}
.left_items h2 {
    position: absolute;
    width: 500px;
    font-size: 50px;
    top: 260px;
}

.bookingillus {
    position: absolute;
    background-position: no-repeat;
    top: 100px;
    width: 700px;
    height: 70%;
}
.svgframe {
    overflow: hidden;
    width: 700px;
    height: 600px;
    color: whitesmoke !important;
}
.head_container {
    padding: 30px 30px 0px 30px;
}
.left_items p {
    color: #999999;
}
.left_items {
    margin-top: 100px;
    word-spacing: 10px;
    line-height: 2rem;
}
.left_items h1 {
    font-size: 60px;
}
.about {
    color: #fff;
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #454a5f 100%);
    
    height: 300px;
}
.aboutcont {
    padding: 50px;
}
.about p {
    line-height: 3rem;
}
.cardItem{
    display:flex;
    justify-content:space-between;
    margin:40px;
}
.cardItem p{
    color: #00155a;
    justify-content:center;
    display:flex;
    margin-top:15px;
}
.item {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    padding: 20px;
    background-color: #F4F8FF;
}
.item i {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
}
.icon{
    padding-top:80px
}
.icon img{
    width:140px
} 
.icon p {
    color: #fff;
    font-size: large;
}
.icon p i{
    color:#2650d8;
}
.icon p span{
    border-radius:50%;
    background-color:#fff;
    padding: 2px 5px 2px;
    width: 10px;

}
